[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jmespath = "*"
pudb = "*"
scrapy = "==1.6"
python-slugify = "*"

[dev-packages]
Scrapy = ">=1.6.0,<1.7.0"
pytest = "*"
pytest-twisted = "*"
pytest-cov = "*"
mock = "*"
flake8 = "*"
flake8-bugbear = "*"
shub = "*"
Sphinx = "*"
pipenv = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"
