[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scrapinghub = {extras = ["msgpack"],version = "*"}
plotly = "*"
genson = "*"
boto3 = "*"
jsonschema = ">=3.0.0"
fastjsonschema = "*"
perfect-jsonschema = "*"
colorama = "*"
tqdm = "*"
ipywidgets = "*"

[dev-packages]
jupyterlab = "*"
jupyter-nbextensions-configurator = "*"
bumpversion = "*"
tox = "*"
pytest = "*"
pytest-pythonpath = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-pudb = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
black = {git = "https://github.com/ambv/black"}
sphinx = "*"
recommonmark = "*"
# avoid pre at any costs
sphinxcontrib-golangdomain = {git = "https://bitbucket.org/ymotongpoo/sphinxcontrib-golangdomain"}
sphinx-autoapi = {git = "https://github.com/rtfd/sphinx-autoapi"}
nbsphinx = "*"
memory-profiler = "*"
jupyter-console = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
